/* Custom Theme 2022-02-25 11:33:00: Do not change this file. */

/* Page Width */

/* Body Font */
body {
		font-size: 14px; 
			font-weight: 400; 
			font-family: Raleway, sans-serif;
	}
button, .cart.table-wrapper .actions-toolbar > .action, .action-gift,
.action.primary, .action-primary, .btn,{
		font-family: Raleway, sans-serif;
	}
/* Heading Font */
h1,
h2,
h3,
h4,
h5,
h6,
.block-widget-blueskytechco-brand .brand-item .brand-name,
.blueskytechco-onepagecheckout .step-title,
.blueskytechco-onepagecheckout #opc-sidebar .title,
.blueskytechco-onepagecheckout #opc-sidebar .opc-block-summary .table-totals,
.container_vertical_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li a,
.container_vertical_tab_postions.wrapper_product_tabs .ui-tabs-nav li a,
.super-deal-banner-content .super-deal-countdown .time_circles .number,
.super-deal .super-deal-banner-content .super-deal-countdown .number,
.super-deal-banner .super-deal-banner-content .super-deal-countdown .number,
.super-deal .item-deal-product .info-price-deal label,
.wrapper_sub_category_tabs .widget-tabs ul > ul > li > a,
.wrapper_sub_category_tabs.onlyparent .list-category-item .category-item a .cate-name.cate-count,
.customer-account-create .form-create-account .fieldset:not(.additional_info) .legend,
.customer-account-forgotpassword .forget .fieldset:not(.additional_info) .legend,
.filter-options .filter-options-title, .sidebar .block .filter-options-title, 
.filter-options .block-title:not(.filter-title) strong, 
.sidebar .block .block-title:not(.filter-title) strong,
.product-item-name, .product.name a { 
		font-family: Montserrat, sans-serif;
	}
	/* Heading Font Weight*/
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.blueskytechco-onepagecheckout .step-title,
	.blueskytechco-onepagecheckout #opc-sidebar .title,
	.super-deal .super-deal-banner-content .super-deal-countdown .number,
	.super-deal .item-deal-product .info-price-deal label,
	.wrapper_sub_category_tabs .widget-tabs ul > ul > li > a,
	.super-deal-banner .super-deal-banner-content .super-deal-countdown .number,
	.super-deal .item-deal-product .info-price-deal label,
	.wrapper_sub_category_tabs .widget-tabs ul > ul > li > a,
	.customer-account-create .form-create-account .fieldset:not(.additional_info) .legend,
	.customer-account-forgotpassword .forget .fieldset:not(.additional_info) .legend,
	.modal-popup .modal-title,
	b, strong,
	.cart-totals .grand .amount strong, .opc-block-summary .table-totals .grand .amount strong,
	.cart-totals .grand .amount strong, .opc-block-summary .table-totals .grand .amount strong,
	.block-minicart .amount .price-wrapper:first-child .price,
	.searchsuite-autocomplete ul li .qs-option-info .qs-option-price,
	th {
		font-weight: 500; 
	}
/* Menu Font */
.navigation .level0 > a,
.navigation,
.navigation li.level0.parent .submenu .mega-columns .level1.parent > a,
.verticalmenu.navigation .list-category-dropdown li.level0 > .submenu .title-cat-mega-menu span,
.verticalmenu.navigation .list-category-dropdown li.level0.classic .parent .subchildmenu .title-cat-mega-menu span,
.verticalmenu.navigation li.level0 > a{
		font-family: Raleway, sans-serif;
	}
/* Menu Font Weight*/
.navigation.custommenu li.level0 .level-top,
.navigation li.level0.parent .submenu .mega-columns .level1.parent > a{
		font-weight: 400; 
	}
.rokan-title .short_description, 
.elementor__header .short_description, 
.block .title.rokan-title .short_description, 
.rokan-title .short-description, 
.elementor__header .short-description, 
.block .title.rokan-title .short-description, 
.rokan-title .elementor__description, 
.elementor__header .elementor__description, 
.block .title.rokan-title .elementor__description, 
.rokan-title .des, .elementor__header .des, 
.block .title.rokan-title .des, .rokan-title .short-des, 
.elementor__header .short-des, .block .title.rokan-title .short-des{
		font-family: Libre Baskerville, sans-serif;
	}
/* Basic Color */
	/* Heading Color */
			h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.block-widget-blueskytechco-brand .brand-item .brand-name,
		.blueskytechco-onepagecheckout .step-title,
		.blueskytechco-onepagecheckout #opc-sidebar .title,
		.blueskytechco-onepagecheckout #opc-sidebar .opc-block-summary .table-totals,
		.container_vertical_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li a,
		.container_vertical_tab_postions.wrapper_product_tabs .ui-tabs-nav li a,
		.super-deal-banner-content .super-deal-countdown .time_circles .number,
		.super-deal .super-deal-banner-content .super-deal-countdown .number,
		.super-deal-banner .super-deal-banner-content .super-deal-countdown .number,
		.super-deal .item-deal-product .info-price-deal label,
		.wrapper_sub_category_tabs .widget-tabs ul > ul > li > a,
		.wrapper_sub_category_tabs.onlyparent .list-category-item .category-item a .cate-name.cate-count,
		.customer-account-create .form-create-account .fieldset:not(.additional_info) .legend,
		.customer-account-forgotpassword .forget .fieldset:not(.additional_info) .legend,
		.filter-options .filter-options-title, .sidebar .block .filter-options-title, 
		.filter-options .block-title:not(.filter-title) strong, 
		.sidebar .block .block-title:not(.filter-title) strong,
		.block .title strong,
		.product-item-name > a, 
		.product.name a > a,
		h1 a,
		h2 a,
		h3 a,
		h4 a,
		h5 a,
		h6 a,
		.color_heading{
			color: #000000;
		}
		/* Primary color */
			.super-deal .supper-deal-title .title-deal span,
		.wrapper_sub_category_tabs .widget-tabs > ul > li > a,
		.product-info-main .product.attribute.sku > .value,
		.title h2 span,
		.minicart-wrapper .minicart-items-wrapper .product-item .product .product-item-details .product-item-pricing .qty .update-cart-item,
		.minicart-wrapper .block-content .subtotal .price-container,
		.minicart-wrapper .action.close:hover:before,
		.shipping-support .icon:before,
		.cart-container .cart.table-wrapper td.subtotal span,
		.products-grid .product-items .product-item-info .product-item-details .field.choice.related:hover .label:before,
		.container_horizontal_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li.ui-tabs-active a, 
		.container_horizontal_tab_postions.wrapper_product_tabs .ui-tabs-nav li.ui-tabs-active a, 
		.container_horizontal_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li:hover a, 
		.container_horizontal_tab_postions.wrapper_product_tabs .ui-tabs-nav li:hover a{
			color: #FF8400;
		}
		.brand-product-tab .brand-list-tab-container-title .title.active:before,
		.wrapper-the-blue-sky-slider .nivo-controlNav.nivo-thumbs-enabled .nivo-control.active,
		body .block.block-search .form.minisearch,
		.fotorama__nav--thumbs .fotorama__nav__frame.fotorama__active,
		.block.related .block-title h3, .block.upsell .block-title h3, .block.crosssell .block-title h3,
		.verticalmenu.navigation .list-category-dropdown,
		.verticalmenu.navigation .list-category-dropdown li.level0 > .submenu, 
		.verticalmenu.navigation .list-category-dropdown li.level0.classic .parent .subchildmenu{ 
			border-color: #FF8400;
		}
		.wrapper-the-blue-sky-slider .nivo-directionNav a:hover,
		.wrapper-the-blue-sky-slider .nivo-controlNav:not(.nivo-thumbs-enabled).active,
		.wrapper-the-blue-sky-slider .nivo-controlNav:not(.nivo-thumbs-enabled):hover,
		.container_vertical_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li:hover a:before,
		.container_vertical_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li.active a:before, 
		.container_vertical_tab_postions.wrapper_product_tabs .ui-tabs-nav li:hover a:before,
		.container_vertical_tab_postions.wrapper_product_tabs .ui-tabs-nav li.active a:before,
		.super-deal .item-deal-product .info-price-deal,
		.hot-deal-tab-slider .product-sold .ruler-sold .ruler-sold-count,
		.top-search-not-dropdown .block.block-search .block-content .dropdown .form.minisearch .actions .action.search,
		body .chosen-container .chosen-results li.highlighted,
		body .owl-carousel .owl-nav .nivo-controlNav button:hover,
		body .nivoSlider .nivo-controlNav a:hover,
		.header-container .col-action .minicart-wrapper .action.showcart .counter.qty,
		.header-container .col-action li .counter.qty,
		.page-footer .footer.content .square-social .social-link a:hover,
		.pages .items .item:hover a, 
		.pages .items .item.current a, 
		.pages .items .item:hover strong, 
		.pages .items .item.current strong,
		.product-item .product-label.onsale,
		.verticalmenu.navigation .title-category-dropdown{
			background-color: #FF8400;
		}
		@media (min-width: 992px) {
			.product.info.detailed .product.data.items > .item.title.active:after{
				background-color: #FF8400;
			}
			.modes-mode.active,
			.product.data.items > .item.title:not(.disabled) > .switch:active, 
			.product.data.items > .item.title.active > .switch, 
			.product.data.items > .item.title.active > .switch:focus, 
			.product.data.items > .item.title.active > .switch:hover{
					color: #FF8400;
			}
		}
		@media (max-width: 991px) {
			.filter.active .filter-title{
				background-color: #FF8400;
			}
		}
		@media (min-width: 1200px) { 
			.container_vertical_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li a:after,
			.container_vertical_tab_postions.wrapper_product_tabs .ui-tabs-nav li a:after{
				border-left-color: #FF8400;
			}
		}
		@media (max-width: 1199px) {
			.container_vertical_tab_postions.wrapper_category_product_tabs .ui-tabs-nav li a:after,
			.container_vertical_tab_postions.wrapper_product_tabs .ui-tabs-nav li a:after{
				border-top-color: #FF8400;
			}
		}
		/* Text color */
			body{
			color: #878787;
		}
	













.col-img-bg-pupup{
	}