/* Custom Data 2022-03-22 02:45:33: Do not change this file. */

:root{
	/* Page Width */
	
	/* Body Font */
		--font-family-name__base: 'Poppins', sans-serif;
			--font-size__base: 16px;
			--text-weight: 400;
	
	/* Heading Font */
	
	/* Menu Font */
		
	/* Other Font */
		--other_font_family: 'Libre Baskerville', sans-serif;
	
	/* Theme Colors */
	
	/* Basic Colors */
		
	
	/* Buttons Colors */
		
	/* Custom Sticky Background Color */
	
	/* Custom Header */
						
	/* Custom Footer */
	
	/* Custom Menu */
			--navigation-level0-item__color: #222222;
					
	/* Page wraper */
	}


/* Icon LazyLoad */
img.lazyload,
img.lazyloading,
img.swatch-option-loading,
.data-bgset-image-wrapper.lazyload:after,
.data-bgset-image-wrapper.lazyloading:after{
	background-image: url("//azexchangeclub.com/kalles/media/blueskytechco/lazyload/default/loading.gif");}


/* Custom Header */
header.page-header{
	}









/* Customization Style */
:root{
    --navigation-level0-item__font-weight: 500;
    --post_item_title-weight: 500;
}
.other-font{
  font-style: itatic;
}
.elementor-newsletter-wrapper .form-subscribe{
 padding: 0;
--button__border-radius: 0;

}