<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<themesetting>
	      <product>
	        <enable_hover_image><![CDATA[enable]]></enable_hover_image>
	        <image_hover_effects><![CDATA[zoom-overlay]]></image_hover_effects>
	        <show_new><![CDATA[enable]]></show_new>
	        <show_new_text><![CDATA[New]]></show_new_text>
	        <show_sale><![CDATA[enable]]></show_sale>
	        <sale_discount_percent><![CDATA[1]]></sale_discount_percent>
	        <show_sale_text><![CDATA[SALE]]></show_sale_text>
	        <main_image_width><![CDATA[850]]></main_image_width>
	        <thumbnail_width><![CDATA[]]></thumbnail_width>
	        <thumbnail_cropping><![CDATA[1_1]]></thumbnail_cropping>
	        <product_page_layout><![CDATA[product_style_1]]></product_page_layout>
	        <custom_tabs><![CDATA[a:2:{s:18:"_1646704450369_369";a:4:{s:9:"tabs_type";s:6:"blocks";s:10:"tabs_title";s:19:"Warranty & Shipping";s:9:"tabs_code";s:33:"default_product_detail_custom_tab";s:10:"sort_order";s:1:"2";}s:18:"_1647510576814_814";a:4:{s:9:"tabs_type";s:6:"blocks";s:10:"tabs_title";s:10:"Custom tab";s:9:"tabs_code";s:35:"default_product_detail_custom_tab_1";s:10:"sort_order";s:1:"3";}}]]></custom_tabs>
	        <big_desktops><![CDATA[4]]></big_desktops>
	        <desktops><![CDATA[4]]></desktops>
	        <small_desktops><![CDATA[4]]></small_desktops>
	        <tablet><![CDATA[3]]></tablet>
	        <mobile><![CDATA[3]]></mobile>
	        <small_mobile><![CDATA[2]]></small_mobile>
	        <thumbnail_image_width><![CDATA[80]]></thumbnail_image_width>
	        <small_image_width><![CDATA[700]]></small_image_width>
	        <mini_cart_image_width><![CDATA[300]]></mini_cart_image_width>
	        <swatch_image_width><![CDATA[50]]></swatch_image_width>
	        <cropping><![CDATA[custom]]></cropping>
	        <cropping_width><![CDATA[1]]></cropping_width>
	        <cropping_height><![CDATA[1.275]]></cropping_height>
	      </product>
	      <general>
	        <layout><![CDATA[]]></layout>
	        <back_to_top_enabled><![CDATA[enable]]></back_to_top_enabled>
	        <icon_lazyload><![CDATA[]]></icon_lazyload>
	        <default_banner><![CDATA[default/shop-category_e7f880c4-f7d6-4b5f-b669-eeb4abbe1088_3000x.jpg]]></default_banner>
	      </general>
	      <header>
	        <select_header_type><![CDATA[header_layout_1]]></select_header_type>
	        <sticky_enabled><![CDATA[enable]]></sticky_enabled>
	        <add_section_to_top_header><![CDATA[default_top_header_banner]]></add_section_to_top_header>
	        <enable_topbar><![CDATA[1]]></enable_topbar>
	      </header>
	      <footer>
	        <select_footer_type><![CDATA[default_footer_static]]></select_footer_type>
	        <menu_mobile><![CDATA[1]]></menu_mobile>
	      </footer>
	      <category>
	        <product_style><![CDATA[product__style-1]]></product_style>
	        <show_product_rating_stars><![CDATA[0]]></show_product_rating_stars>
	        <show_product_price><![CDATA[1]]></show_product_price>
	        <show_product_quickview><![CDATA[1]]></show_product_quickview>
	        <show_product_compare><![CDATA[1]]></show_product_compare>
	        <show_product_wishlist><![CDATA[1]]></show_product_wishlist>
	        <show_product_add_to_cart><![CDATA[1]]></show_product_add_to_cart>
	        <page_layout><![CDATA[product_style_1]]></page_layout>
	      </category>
	      <blog>
	        <page_layout><![CDATA[product_style_1]]></page_layout>
	      </blog>
	      <newsletter>
	        <enable><![CDATA[0]]></enable>
	        <cms_block><![CDATA[default_newsletter_popup]]></cms_block>
	      </newsletter>
	      <fake_order>
	        <enable_f_o><![CDATA[1]]></enable_f_o>
	        <seconds_displayed><![CDATA[5]]></seconds_displayed>
	        <seconds_hide><![CDATA[10]]></seconds_hide>
	        <messages><![CDATA[]]></messages>
	      </fake_order>
	      <product_popup>
	        <enable><![CDATA[1]]></enable>
	        <cms_block><![CDATA[default_product_popup]]></cms_block>
	        <seconds_displayed><![CDATA[6]]></seconds_displayed>
	        <max_width><![CDATA[]]></max_width>
	      </product_popup>
	    </themesetting>
	    <themeoption>
	      <general>
	        <debug_mode><![CDATA[0]]></debug_mode>
	        <layout><![CDATA[]]></layout>
	        <button_border_radius><![CDATA[]]></button_border_radius>
	        <icon_lazyload><![CDATA[default/loading.gif]]></icon_lazyload>
	      </general>
	      <font>
	        <font_family><![CDATA[google]]></font_family>
	        <custom_font_family><![CDATA[]]></custom_font_family>
	        <font_size><![CDATA[16px]]></font_size>
	        <google_font_weight><![CDATA[400]]></google_font_weight>
	        <heading_family><![CDATA[default]]></heading_family>
	        <menu_family><![CDATA[default]]></menu_family>
	        <other_family><![CDATA[google]]></other_family>
	        <google_font_family><![CDATA[Poppins]]></google_font_family>
	        <customize><![CDATA[ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900]]></customize>
	        <google_other_family><![CDATA[Libre Baskerville]]></google_other_family>
	        <customize_other_family><![CDATA[ital@1&family=Roboto+Slab:wght@300]]></customize_other_family>
	      </font>
	      <colors>
	        <theme_colors><![CDATA[]]></theme_colors>
	        <base_color_custom><![CDATA[0]]></base_color_custom>
	        <button_color_custom><![CDATA[0]]></button_color_custom>
	        <text_color><![CDATA[#878787]]></text_color>
	        <heading_color><![CDATA[#222222]]></heading_color>
	        <link_hover_color><![CDATA[#56CFE1]]></link_hover_color>
	        <link_color><![CDATA[#56CFE1]]></link_color>
	        <button_text_color><![CDATA[#8CFFE9]]></button_text_color>
	        <button_bg_color><![CDATA[#FF1E24]]></button_bg_color>
	        <button_hover_text_color><![CDATA[#0F4DFF]]></button_hover_text_color>
	        <button_hover_bg_color><![CDATA[#D163FF]]></button_hover_bg_color>
	      </colors>
	      <header>
	        <sticky_select_bg_color><![CDATA[]]></sticky_select_bg_color>
	        <header_custom><![CDATA[1]]></header_custom>
	        <header_custom_style><![CDATA[]]></header_custom_style>
	        <header_topbar_text_color><![CDATA[]]></header_topbar_text_color>
	        <header_topbar_background_color><![CDATA[]]></header_topbar_background_color>
	        <header_text_color><![CDATA[]]></header_text_color>
	        <header_background_color><![CDATA[]]></header_background_color>
	        <header_bg_image><![CDATA[]]></header_bg_image>
	      </header>
	      <footer>
	        <footer_custom><![CDATA[0]]></footer_custom>
	        <footer_custom_style><![CDATA[]]></footer_custom_style>
	      </footer>
	      <magemenu>
	        <menu_custom><![CDATA[0]]></menu_custom>
	      </magemenu>
	      <page>
	        <page_wrapper_custom><![CDATA[0]]></page_wrapper_custom>
	        <page_custom_style><![CDATA[]]></page_custom_style>
	      </page>
	      <main>
	        <main_content_container_custom><![CDATA[0]]></main_content_container_custom>
	        <main_custom_style><![CDATA[]]></main_custom_style>
	      </main>
	      <customization>
	        <custom_style><![CDATA[.rokan-title .short_description, 
	.elementor__header .short_description,
	.rokan-title .short_description .action.select{
	  font-style: italic;
	}]]></custom_style>
	      </customization>
	    </themeoption>
	</default>
</config>